[submodule "LTEx24/data"]
	path = LTEx24/data
	url = https://github.com/ec429/fc-aviation.git
[submodule "LT73Avi/data"]
	path = LT73Avi/data
	url = https://github.com/ec429/fc-aviation.git
[submodule "Sim06"]
	path = Sim06
	url = https://github.com/longturn/Sim
	branch = Sim06
[submodule "SG4"]
	path = SG4
	url = ../LTT-LTX
	branch = game/SG4
[submodule "Chaos52Dingo"]
	path = Chaos52Dingo
	url = https://github.com/longturn/rules-of-chaos.git
	branch = chaos52dingo
[submodule "LT87Hex"]
	path = LT87Hex
	url = https://github.com/longturn/LTT-LTX.git
